MM_SQLSETTINGS_DATASOURCE=postgres://mmuser:change-me-strong-password@postgres:5432/mattermost?sslmode=disable&connect_timeout=10
MM_SERVICESETTINGS_SITEURL=http://mattermost.example.com
MM_SERVICESETTINGS_LISTENADDRESS=:8065
